body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f1f1f1;
  color: rgb(0, 0, 0);
  padding: 8px;
  text-align: center;
  top: 10px;

}

header h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  
}

nav {
  display: flex;
  justify-content: center;
  background-color: #474747;
}

nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav button {
  color: white;
  background-color: #474747;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
}

nav button:hover {
  background-color: #ddd;
  color: black;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

.main-content {
  flex: 3;
  padding: 20px;
}

.sidebar-esquerda {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  flex: 1;
  padding: 2rem;
}

.sidebar-esquerda h3 {
  color: #333;
  font-size: 18px;
  margin-bottom: 15px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

.sidebar-esquerda ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-esquerda ul li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease;
}

.sidebar-esquerda ul li:hover {
  background-color: #f0f0f0;
}

.sidebar-esquerda ul li i {
  color: #007bff;
  margin-right: 10px;
  font-size: 18px;
}

.sidebar-esquerda ul li span {
  font-weight: bold;
  color: #555;
  flex: 1;
}

.sidebar-esquerda p {
  font-size: 12px;
  color: #777;
  margin-top: 15px;
}

.sidebar-esquerda a {
  color: #007bff;
  text-decoration: none;
}

.sidebar-esquerda a:hover {
  text-decoration: underline;
}

.sidebar-direita {
  flex: 1.2;
  padding: 15px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
}

.sidebar-header-direita {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sidebar-direita h3 {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}

.panel {
  position: relative;
  width: 8px;
  height: 20px;
  background-color: #ccc;
  margin-bottom: 20px;
  margin-right: 2px;
  right:5px;
}

#links-sidebar-direita ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#links-sidebar-direita li {
  margin-bottom: 15px;
  text-align: justify;
}

.noticia-item {
  display: flex;
  align-items: center; 
}

.noticia-img {
  width: 190px; 
  height: 130px;
  margin-right: 10px; 
}

.noticia-content {
  flex: 1; 
}

.noticia-content h6 {
  margin: 0; 
  margin-bottom: 5px;
}

#links-sidebar-direita a {
  text-decoration: none;
  color: black;
  display: block; 
}

#links-sidebar-direita a:hover {
  text-decoration: underline;
}

#modal {
  display: none;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease;
}

#modal.show {
  display: block;
  opacity: 1;
}

#areaModal {
  position: fixed;
  left: 25%;
  right: 25%;
  bottom: 10%; 
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #474747;
  max-height: 70%; 
  overflow-y: auto; 
  transform: translateY(100%);
  transition: transform 0.5s ease;
  scrollbar-width: thin; /* Largura fina para a barra de rolagem (Chrome, Edge) */
  scrollbar-color: #474747;
}

#areaModal.open {
  transform: translateY(0); 
}

#areaModal header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0.3em;
  background-color: #474747;
  color: white;
}

#areaModal footer {
  position: relative;
  text-align: right;
  bottom: 10px;
  left: 0;
  right: 0px;
  text-align: right;
}

#areaModal button {
  position: relative;
  height: 2em;
  background-color: #474747;
  border: 1pt solid #3e3e3e;
  font-size: 1em;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  right: 10px;
  bottom: 10px;
}

#conteudoModal {
  padding: 0.8em;
}

#conteudoModal ul {
  list-style: none;
  padding: 0;
}

#conteudoModal ul li {
  background: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

#conteudoModal ul li::before {
  content: "✓"; 
  color: #474747;
  font-weight: bold;
  margin-right: 10px;
}


#conteudoModal div p {
  margin-top: 20px;
  font-size: 0.9em;
}

#conteudoModal div a {
  color: #474747;
  text-decoration: none;
  font-weight: bold;
}

#conteudoModal div a:hover {
  text-decoration: underline;
}

.footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 5px;
  border-top: 1px solid #ccc;
  padding-bottom: 20px;
}

.footer button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#fonte {
  font-size: 9pt;
}

.carousel-image-container {
  position: relative;
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 8px;
  text-align: center;
}

#imagem-nivel-rios {
  text-align: center;
}
